<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-10 col-md-8 offset-1 offset-md-2">
            <br>
            <h3>Create New Listing</h3>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" id="title" required>
                    <div class="valid-feedback">Title Looks good!</div>
                    <div class="invalid-feedback">Title can't be empty</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" id="description" required></textarea>
                    <div class="valid-feedback">Description Looks good!</div>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-8">
                    <label for="image" class="form-label">Uploade Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control" id="image" required>
                    <div class="invalid-feedback">Please uploade a valid image</div>
                </div>
                 <div class="mb-3 col-md-4">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" class="form-select" id="category" required style="cursor: pointer;">
                        <option value="trending">Trending</option>
                        <option value="rooms">Rooms</option>
                        <option value="iconic_cities">Iconic Cities</option>
                        <option value="mountains">Mountains</option>
                        <option value="castles">Castles</option>
                        <option value="amazing_pools">Amazing Pools</option>
                        <option value="camping">Camping</option>
                        <option value="farms">Farms</option>
                        <option value="arctic">Arctic</option>
                        <option value="domes">Domes</option>
                        <option value="boats">Boats</option>
                    </select>
                    <div class="invalid-feedback">Please Select a Category</div>
                </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" placeholder="1200" class="form-control" id="price" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Dhanbad,Jharkhand" class="form-control" id="location" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control" id="country" required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
                <br>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br><br>
            </form>
        </div>
    </div>
</body>